<?xml version="1.0"?>
<launch>

  <arg name="sim" default="false"/>
  <arg name="robot_ip" default="192.168.1.163" />

  <!-- Start robot (real of sim) -->
  <group unless="$(arg sim)">
    <!-- Start echte robot -->
    <include file="$(find my_lite6_moveit_config)/launch/realMove_exec.launch">
      <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>
  </group>

  <group if="$(arg sim)">
     <!--Start simulatie-->
    <include file="$(find my_lite6_moveit_config)/launch/demo.launch"/>
  </group>
 
  <!-- START MOVEIT ALWAYS 
  <include file="$(find my_lite6_moveit_config)/launch/move_group.launch" />
-->  

  <!-- Eventueel ook RViz starten
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_lite6_moveit_config)/launch/moveit.rviz" required="false" />
-->

</launch>
