<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robotopstelling" params="">

<!--
    <xacro:property name="mesh_file" value="package://my_lite6_description/meshes/RobotOpstelling11.STL"/>
    <xacro:property name="mesh_scale" value="1 1 1"/>
-->
    <link name="Opstelling_Link">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 -${pi/2}" /> <!-- Verplaats het object naar de juiste plek -->
    <geometry>
      <mesh filename="package://my_lite6_description/meshes/AssmOpstellingV3.STL" scale="1.00 1.00 1.00"/>
    </geometry>
    <material name="LightGrey">
      <color rgba="0.7 0.7 0.7 1.0"/>
    </material>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 -${pi/2}" />		<!-- ${pi/2} -->
    <geometry>
      <mesh filename="package://my_lite6_description/meshes/AssmOpstellingV3.STL" scale="1.00 1.00 1.00"/>
    </geometry>
  </collision>
</link>

<joint name="Opstelling_joint" type="fixed">
 <origin xyz="0 0 0" rpy="0 0 0" />
 <parent link="baseplate_link" />
  <child link="Opstelling_Link" />
</joint>

  </xacro:macro>

</robot>

